*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  min-width: 375px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
  background-color: #1F1F1F;
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
