/* Header Start */
header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  min-height: 300px;
  padding: 50px;
}

.header__menu {
  padding-top: 3px;
}

.header__links-list {
  display: flex;
  justify-self: start;
  gap: 33px;
  font-size: 18px;
  list-style: circle;
}

.header__link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header__links-list li:first-child {
  list-style: none;
}

.header__logo {
  padding-top: 10px;
}

.header__logo-image {
  width: auto;
  min-height: 105px;
}

.address {
  display: flex;
  flex-flow: column wrap;
  justify-self: end;
  max-width: 240px;
  font-size: 18px;
  font-style: normal;
  line-height: 1.4em;
  text-decoration: none;
}

.address a {
  width: fit-content;
  border-bottom: 1px solid black;
}
/* Header End */

/* Cover Section Start */
.cover {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 50px 50px 50px 50px;
  background: url(../images/XXXL.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover::before,
.card::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.6);
}

.cover__title {
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  font-style: Bold;
  line-height: 1.1em;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-top: 28px;
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 25px;
  margin-right: -30px;
  text-align: right;
}

.yellow-letter {
color: #FDDB05;
}
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.letter-spacing-extended {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.4em;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid white;
  padding: 13px 32px;
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
}
/* Cover Section End */

/* Lots Section Start */
.lots {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 24px 120px;
}

.lots__heading {
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 110%;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: row wrap;
  gap: 25px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 48px 40px;
}

.card-link,
.card {
  position: relative;
  z-index: 1;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_chandelier {
  background-image: url(../images/category.jpg);
}

.card_type_led {
  background-image: url(../images/category_led.webp);
}

.card_type_lamp {
  background-image: url(../images/category_lamp.jpg);
}

.card__title {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  width: fit-content;
  margin-left: 40px;
  border-bottom: 1px solid black;
  font-size: 20px;
  text-decoration: none;
}
/* Lots Section End */

/* About Section Start */
.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 0 24px 180px;
  padding-top: 35px;
}

.about__logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  min-height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  min-height: 114px;
}

.about__title {
  margin: 100px 0;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-container {
  display: flex;
  flex-flow: column wrap;
  gap: 24px;
  padding-right: 24px;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2em;
}
/* About Section End */

/* Footer Start */
.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  min-height: 180px;
  padding: 0 50px;
}

.footer__address {
  justify-self: start;
  max-width: 265px;
}

.footer__menu {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {
  border-bottom: 1px solid black;
}

.menu__link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-self: end;
  gap: 48px;
  width: 240px;
  min-height: 48px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  min-height: 48px;
}
/* Footer End */
